.waterProgressContainer {
  background-color: var(--main-white);
  border-radius: 15px;
  padding: 12px;
  width: 198px;
  height: 70px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 0px auto 42px auto;
}

.waterProgressTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--main);
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .waterProgressContainer {
    padding: 20px;
    width: 295px;
    height: 106px;
    margin: 0px auto 26px auto;
  }

  .waterProgressTitle {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .waterProgressContainer {
    margin: 0px auto 56px auto;
  }
}
