.userPanelContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.greetings {
  font-family: 'Gilroy';
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.greetingsName {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .userPanelContainer {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .greetings {
    font-size: 36px;
    line-height: 106%;
  }
}
