.modalContainer {
  padding-right: 20px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-bottom: 16px;
}

.question {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 100%;
  white-space: nowrap;
}

.commonBtn {
  width: 100%;
  height: 46px;
  font-weight: 700;
  border-radius: 30px;
  color: #323f47;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.deleteBtn {
  background-color: #9be1a0;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #81c788;
}

.cancelBtn {
  background-color: #f0eff4;
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: #e0dfe4;
}

.cancelBtn.disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .modalContainer {
    padding-right: 40px;
  }

  .title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .question {
    max-width: 436px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .buttonContainer {
    max-width: 356px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
  }

  .commonBtn {
    width: 170px;
    height: 60px;
    padding: 18px 67px;
    font-size: 14px;
    border-radius: 30px;
  }
}
