.title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: var(--main);
  position: absolute;
  top: 24px;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    top: 32px;
    left: 32px;
  }
}
