.addBtn {
  display: flex;
  align-items: center;

}

.btn {

  border-radius: 8px;
  border: none;

  background-color: rgba(220, 215, 247, 0.7);
  transition: background-color 0.3s ease;

  padding: 5px 10px;
  margin-right: 10px;
}

.text {
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;

line-height: 24px;
line-height: 1.5;
letter-spacing: -0.01em;
text-align: center;
color: #323f47;
}
