.addBtn {
  display: flex;
  align-items: center;

}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
background-color: #9be1a0;
  transition: background-color 0.3s ease;

  padding: 5px 10px;
  margin-right: 10px;
  font-weight: 100;
font-size: 24px;
}

.btn:hover, .btn:focus{
  background-color: #323f47;
  color: #fff;
}

.text {
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 16px;

line-height: 24px;
line-height: 1.5;
letter-spacing: -0.01em;
text-align: center;
color: #323f47;
}
