.userBarPopoverContainer {
  position: absolute;
  top: 112px;
  left: 0;
  width: 137px;
  padding: 14px 20px;
  background-color: var(--main-white);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.iconSettings {
  margin-right: 4px;
}

.settings {
  display: flex;
  align-items: center;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 129%;
  fill: var(--main);
  background-color: inherit;
  color: var(--main);
}

.settings:hover {
  cursor: pointer;
}

.iconLogOut {
  margin-right: 4px;
  fill: rgba(50, 63, 71, 0.4);
}

.logOut {
  display: flex;
  align-items: center;
  margin-top: 8px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 129%;
  color: rgba(50, 63, 71, 0.4);
  background-color: inherit;
}

.logOut:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .userBarPopoverContainer {
    top: 64px;
    right: 0;
    left: auto;
    width: 157px;
  }
  .settings {
    font-size: 15px;
    line-height: 149%;
  }
  .logOut {
    font-size: 15px;
    line-height: 149%;
  }
}
