.welcomeSection {
  border-radius: 30px;
  background: #323F47;
  padding: 118px 16px 67px 16px;
  margin-bottom: 16px;
}
.welcomeText {
  color: black;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.84px;
  margin-bottom: 16px;
}
.welcomeTitle {
  color: #323f47;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.38px;
  margin-bottom: 32px;
}
.welcomeThumb {
  display: flex;
  gap: 10px;
  max-height: 60px;
}
.linkTracker {
  width: 116px;
  display: flex;
  padding: 14px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #9be1a0;
  color: #323f47;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  transition: background-color  150ms ease-in;
}
.linkTracker:hover,
.linkTracker:active,
.linkTracker:focus {
  background-color:  #87d28d;
}
.linkSignIn {
  width: 104px;
  display: flex;
  padding: 14px 27px;
  justify-content: center;
  align-items: center;
  color:  #323f47;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  border-radius: 30px;
  border: 1px solid  #323f47;
  transition:
    border 150ms ease-in,
    color 150ms ease-in;
}
.linkSignIn:hover,
.linkSignIn:focus,
.linkSignIn:active {
  border: 1px solid  #87d28d;
  color:  #87d28d;
}
@media  (min-width: 768px) {
  .welcomeSection {
    padding: 106px 93px 50px 93px;
  }
  .welcomeText {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.96px;
  }
  .welcomeTitle {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.64px;
  }
  .linkTracker {
    padding: 18px 40px;
    width: 169px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
  .linkSignIn {
    width: 135px;
    padding: 18px 39px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.16px;
  }
}
@media (min-width: 1440px) {
  .welcomeSection {
    padding: 188px 64px 188px 61px;
    margin: 0;
  }
  .welcomeText{
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -0.8px;
  }
}
@media (max-width: 330px) {
  .welcomeText{
    font-size: 30px;
  }
}
