.settingTitle {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  .settingContainer {
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .settingContainer {
    width: 568px;
  }
}

@media screen and (min-width: 1440px) {
  .settingContainer {
    width: 920px;
  }
}
