.waterMainContainer {
  background-color: #9be1a0;
  max-width: 343px;
  padding: 122px 16px 30px;
  position: relative;
  border-radius: 30px;

  background-image: url(../../img/waterMainImg/bottle-font-phone.png);
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 262px 335px;
}

@media screen and (min-width: 768px) {
  .waterMainContainer {
    max-width: unset;
    width: 704px;
    height: 578px;
    padding: 157px 32px 64px;
    background-image: url(../../img/waterMainImg/bottle-font-tab.png);
    background-position: center 69px;
    background-size: 374px 477px;
  }
}

@media screen and (min-width: 1440px) {
  .waterMainContainer {
    width: 672px;
    height: 736px;
    padding: 157px 32px 64px;
    background-image: url(../../img/waterMainImg/bottle-font-desktop.png);
    background-position: center 92px;
    background-size: 472px 604px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .waterMainContainer {
    background-image: url(../../img/waterMainImg/bottle-font-phone@2x.png);
  }

  @media screen and (min-width: 768px) {
    .waterMainContainer {
      background-image: url(../../img/waterMainImg/bottle-font-tab@2x.png);
    }
  }

  @media screen and (min-width: 1440px) {
    .waterMainContainer {
      background-image: url(../../img/waterMainImg/bottle-font-desktop@2x.png);
    }
  }
}
