.waterMainContainer {
  background-color: #9be1a0;
  max-width: 343px;
  padding: 24px 16px 32px 16px;
  border-radius: 30px;
  box-sizing: border-box;
  background-image: url(/public/water-main-img/bottle-font-phone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.waterMainTitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 78px;
}

@media screen and (min-width: 768px) {
  .waterMainContainer {
    max-width: unset;
    width: 704px;
    padding: 32px 32px 64px 32px;
    background-image: url(/public/water-main-img/bottle-font-tab.png);
  }

  .waterMainTitle {
    font-size: 24px;
    margin-bottom: 101px;
  }
}

@media screen and (min-width: 1440px) {
  .waterMainContainer {
    width: 672px;
    background-image: url(/public//water-main-img/bottle-font-desktop.png);
  }
}
