.button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 157px;
  height: 56px;
  padding: 6px 12px;

  border: 0;
  border-radius: 28px;

  font-size: 16px;
  font-weight: 700;

  background-color: #323f47;
  color: #ffffff;
}
