.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 137px;
  height: 50px;
  margin-top: 20px;
  padding: 6px 12px;
  border: 0;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  background-color: var(--main);
  color: var(--main-white);
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.arrow-up {
  rotate: 180deg;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 150%;
    width: 157px;
    height: 56px;
    margin-top: 0;
  }
  .avatar {
    width: 44px;
    height: 44px;
  }
}
