.dateWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 24px;
}

.dateTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}
.buttonLt,
.buttonGt {
  background-color: inherit;
  display: flex;
  align-items: center;
}

.iconGt {
  transform: rotate(-90deg);
}

.iconLt {
  transform: rotate(90deg);
}

@media screen and (min-width: 375px) {
  .dateTitle {
    width: 120px;
  }
}

@media screen and (min-width: 768px) {
  .dateWrapper {
    gap: 20px;
    height: 32px;
  }

  .dateTitle {
    font-size: 16px;
    line-height: 1.5;
    width: 136px;
  }
}

.next-icon {
  cursor: pointer;
}

.next-icon.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
