input {
  all: unset;
}

p {
  margin: 0;
}

.formContainer {
  border-radius: 30px;
  background-color: #f0eff4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #323f47;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #323f47;
  align-self: baseline;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  line-height: 1.05556;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.listItem {
  margin: 0;
}

.listItem:not(:last-child) {
  margin-bottom: 20px;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  width: 436px;
}

.label:hover {
  cursor: pointer;
}

.field {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 0 16px 0 16px;
  text-align: left;
  margin-top: 8px;
  width: 436px;
  height: 56px;
}

.field::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}

.field:hover {
  cursor: text;
}

.field:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.button {
  border-radius: 30px;
  background: #9be1a0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-bottom: 16px;
  width: 436px;
  height: 60px;
  font-size: 16px;
  line-height: 1.5;
}

.button:hover,
.button:focus {
  background-color: #87d28d;
  cursor: pointer;
}

.button:active {
  background-color: #e6e6e6;
  color: #bcbcbc;
}

.redirect {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  font-size: 16px;
  line-height: 1.5;
}

.redirectLink {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f2f2f;
}

.redirectLink:active,
.redirectLink:hover,
.redirectLink:focus {
  color: rgba(50, 63, 71, 0.4);
}

.errorField {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.errorField::placeholder {
  color: #ef5050;
}

.error {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #ef5050;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .formContainer {
    width: 343px;
    height: 780px;
  }

  .logo {
    font-size: 18px;
    line-height: 1.11111;
    margin: 24px 0 126px 16px;
    align-self: baseline;
  }

  .title {
    font-size: 32px;
    line-height: 1;
  }

  .listItem:not(:last-child) {
    margin-bottom: 16px;
  }

  .label {
    font-size: 14px;
    line-height: 1.28571;
    width: 311px;
  }

  .field {
    /* padding: 16px 155px 16px 16px; */
    width: 280px;
    height: 50px;
  }

  .button {
    /* padding: 16px 129px; */
    width: 311px;
    height: 50px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .redirect {
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .formContainer {
    width: 704px;
    height: 960px;
  }

  .logo {
    font-size: 24px;
    line-height: 1;
    margin: 32px 0 171px 32px;
    align-self: flex-start;
  }

  .title {
    font-size: 36px;
    margin-left: 134px;
  }
}

@media screen and (min-width: 1440px) {
  .formContainer {
    width: 672px;
    height: 736px;
  }

  .logo {
    font-size: 24px;
    line-height: 1;
    margin: 32px 0 74px 32px;
    align-self: flex-start;
  }

  .title {
    font-size: 36px;
    margin-left: 118px;
  }
}
