.section {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 343px;
  min-height: 160px; /*!!!!*/
  margin: 0 auto;
  overflow-x: auto;
  /* overflow-y: hidden; */
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 343px;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container {
    width: 100%;
    max-width: 640px;
    min-height: 174px;  /*!!!!*/
  }

  .title {
    width: 100%;
    max-width: 640px;

  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
  }

  .container {
    width: 100%;
    max-width: 608px;
    min-height: 174px;  /*!!!!*/
  }

  .title {
    width: 100%;
    max-width: 608px;
  }
}
