
.section {
  max-width: 375px;
  margin: 0 auto;
}

.container {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 160px;

  overflow-x: auto;
  /* overflow-y: hidden; */

}

.title {
  /* outline: 2px solid green; */
  display: flex;
  justify-content: space-between;
  width: 343px;

  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .section {
  max-width: 768px;
}
.container {
width: 768px;
height: 174px;
}
.title {
  width: 640px;
  padding-left: 32px;
  padding-right: 32px;
}
}

@media screen and (min-width: 1440px) {
.section {
  max-width: 1440px;
}
.container {
width: 1440px;
height: 174px;
}
.title {
width: 608px;
}
}
