.container{
  border-radius: 30px;
  background-color: #f0eff4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #323f47;
}

.title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  align-self: baseline;
}

.label{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.input{
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 184px 16px 16px;
  width: 311px;
  height: 50px;
}

.input:hover{
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.button{
  border-radius: 30px;
  padding: 16px 131px;
  width: 311px;
  height: 50px;
  background: #9be1a0;
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.button:hover,
.button:focus {
  background-color: #87d28d;
  cursor: pointer;
}

.button:active {
  background-color: #e6e6e6;
  color: #bcbcbc;
}

.rediktesLink{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}

.link:active,
.link:hover,
.link:focus {
  color: rgba(50, 63, 71, 0.4);
}

@media screen and (min-width: 768px) and (max-width: 1440px){
.title{
  font-size: 36px;
  line-height: 1.05556;
}

.label{
  font-size: 16px;
  line-height: 1.5;
}

.input{
  border-radius: 15px;
  padding: 16px 293px 16px 16px;
  width: 436px;
  height: 56px;
}

.button{
  padding: 18px 191px;
  width: 436px;
  height: 60px;
  font-size: 16px;
  line-height: 1.5;
}
}
@media screen and (min-width: 1440px){

}
