.progressContainer {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.progressBarLine {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #e0e0e0; /* Колір фонової шкали */
}

.progressCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #4caf50;
  background-color: #fff;
  position: absolute;
  top: -5px;
  transform: translateX(-50%);
}

.progressLabels {
  margin-top: 10px;
}
