@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

.gilroy-bold {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

.gilroy-regular {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}
