@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-text: #2f2f2f;
  --main: #323f47;
  --accent: #9be1a0;
  --background: #f0eff4;
  --main-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: var(--main-text);
}

.gilroy-bold {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

.gilroy-regular {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

/* styles reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


div.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x.ps--clicking .ps__thumb-x {
height: 8px;
background-color:  #323f47;
}

div.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color:  #fff;
    border-radius: 8px;
  }

  .ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
    opacity: 1;
  }

  .ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
    height: 8px;
    background-color: transparent;
    /* background-color:  #fff; */
}
