@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-text: #2F2F2F;
  --main: #323F47;
  --accent: #9BE1A0;
  --background: #F0EFF4;
  --main-white: #FFFFFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: var(--main-text);
}

.gilroy-bold {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

.gilroy-regular {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

/* styles reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
